<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {{!--BEGIN GLOBAL MANDATORY STYLES--}}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    {{!--END GLOBAL MANDATORY STYLES--}}
    {{!--BEGIN PAGE LEVEL PLUGINS--}}
    <link href="/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    {{!--END PAGE LEVEL PLUGINS--}}
    {{!--BEGIN THEME GLOBAL STYLES--}}
    <link href="/global/css/components-md.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
    {{!--END THEME GLOBAL STYLES--}}
    {{!--BEGIN PAGE LEVEL STYLES--}}
    <link href="/pages/css/login.css" rel="stylesheet" type="text/css" />
    {{!--END PAGE LEVEL STYLES--}}
    <link rel="stylesheet" href="/global/css/styles.css">
</head>
<body>
    {{{ body }}}
</body>
</html>