<div class="row">
    <div class="col-sm-8">
        <h1>You have a new team!</h1>
        <h3>
            {{user}} has added you to the team <i>"{{teamName}}"</i>
        </h3>
    </div>
    <div class="col-sm-4">
        <div class="team-img">
            <img src="{{teamImg}}" alt="team1">
        </div>
    </div>
</div>
