<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>You are signed in as {{userEmail}}</h1>
            <a href="/">Home</a>
            <a href="/logout">Sign out</a>
        </div>
    </div>
</div>
